<div style="margin-top: 10px; border: 1px solid #CCC; border-radius: 6px; padding: 50px;">

	<div style="background: #c7c7c7; border-radius: 6px; border: 1px solid rgb(94, 94, 94); padding: 10px">
		<mat-icon>menu</mat-icon><span style="position: relative; top: -6px; left: 10px">Liste des Batch</span>
	</div>

	<br />
	
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
		  <th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggle() : null"
						  [checked]="selection.hasValue() && isAllSelected()"
						  [indeterminate]="selection.hasValue() && !isAllSelected()"
						  [aria-label]="checkboxLabel()">
			</mat-checkbox>
		  </th>
		  <td mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()"
						  (change)="$event ? selection.toggle(row) : null"
						  [checked]="selection.isSelected(row)"
						  [aria-label]="checkboxLabel(row)">
			</mat-checkbox>
		  </td>
		</ng-container>
	  
		<!-- Position Column -->
		<ng-container matColumnDef="id">
		  <th mat-header-cell *matHeaderCellDef> ID </th>
		  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>
	  
		<!-- Name Column -->
		<ng-container matColumnDef="type">
		  <th mat-header-cell *matHeaderCellDef> Type </th>
		  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
		</ng-container>
	  
		<!-- Weight Column -->
		<ng-container matColumnDef="dateEnvoi">
		  <th mat-header-cell *matHeaderCellDef> Date envoi </th>
		  <td mat-cell *matCellDef="let element"> {{element.dateEnvoi}} </td>
		</ng-container>
	  
		<!-- Symbol Column -->
		<ng-container matColumnDef="statut">
		  <th mat-header-cell *matHeaderCellDef> Statut </th>
		  <td mat-cell *matCellDef="let element"> {{element.statut}} </td>
		</ng-container>

		<!-- Symbol Column -->
		<ng-container matColumnDef="nomFichier">
			<th mat-header-cell *matHeaderCellDef> Nom fichier </th>
			<td mat-cell *matCellDef="let element"> {{element.nomFichier}} </td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"
			(click)="selection.toggle(row)">
		</tr>
	</table>
	  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
	  <br />

	  <button mat-raised-button disabled (click)="addBatch()" > <mat-icon>add</mat-icon> Ajouter </button>&nbsp;&nbsp;
	  <button mat-raised-button (click)="deleteBatch()" ><mat-icon>remove</mat-icon>Supprimer</button>&nbsp;&nbsp;
	  <button mat-raised-button  ><mat-icon>settings_input_antenna</mat-icon>Rediffuser</button>


	  <div style="background: #c7c7c7; border-radius: 6px; border: 1px solid rgb(94, 94, 94); padding: 10px; width: 80%; margin-top: 10px;">
		<mat-icon>details</mat-icon><span style="position: relative; top: -6px; left: 10px">Détails du batch sélectionné</span>
		</div>

	<br />

	  <table mat-table [dataSource]="dataSourceDetails" class="mat-elevation-z8" style="width: 80%">

		<!-- Checkbox Column -->
		<ng-container matColumnDef="select">
		  <th mat-header-cell *matHeaderCellDef>
			<mat-checkbox (change)="$event ? masterToggleDetails() : null"
						  [checked]="selectionDetails.hasValue() && isAllSelectedDetails()"
						  [indeterminate]="selectionDetails.hasValue() && !isAllSelectedDetails()"
						  [aria-label]="checkboxLabelDetails()">
			</mat-checkbox>
		  </th>
		  <td mat-cell *matCellDef="let row">
			<mat-checkbox (click)="$event.stopPropagation()"
						  (change)="$event ? selection.toggle(row) : null"
						  [checked]="selectionDetails.isSelected(row)"
						  [aria-label]="checkboxLabelDetails(row)">
			</mat-checkbox>
		  </td>
		</ng-container>
	  
		<!-- Position Column -->
		<ng-container matColumnDef="id">
		  <th mat-header-cell *matHeaderCellDef> ID. </th>
		  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
		</ng-container>
	  
		<!-- Name Column -->
		<ng-container matColumnDef="nom">
		  <th mat-header-cell *matHeaderCellDef> Nom Fichier </th>
		  <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
		</ng-container>
	  
		<!-- Weight Column -->
		<ng-container matColumnDef="type">
		  <th mat-header-cell *matHeaderCellDef> Type Doc. </th>
		  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
		</ng-container>
	  
		<!-- Symbol Column -->
		<ng-container matColumnDef="periode">
		  <th mat-header-cell *matHeaderCellDef> Période </th>
		  <td mat-cell *matCellDef="let element"> {{element.periode}} </td>
		</ng-container>
  
		<!-- Symbol Column -->
		<ng-container matColumnDef="statutEnvoi">
			<th mat-header-cell *matHeaderCellDef> Statut envoi </th>
			<td mat-cell *matCellDef="let element"> {{element.statutEnvoi}} </td>
		</ng-container>
  
		<tr mat-header-row *matHeaderRowDef="displayedColumnsDetails"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumnsDetails;"
			(click)="selection.toggle(row)">
		</tr>
	  </table>
	  <mat-paginator style="width: 80%" [pageSizeOptions]="[5, 10, 20]" [length] = "detailsLength" showFirstLastButtons></mat-paginator>
	  <br />
  
	  <button mat-raised-button (click)="deleteBatch()" ><mat-icon>assignment_return</mat-icon>Réaffecter</button>
</div>
