<h2 mat-dialog-title>Envoi de plusieurs documents a un receiver</h2>
<!-- <div style="background: rgb(255, 172, 172); border: 1px solid rgb(255, 90, 90); padding: 8px; border-radius: 6px;">
    Sélectionnez les documents à envoyer au receiver
</div> --> 
<mat-dialog-content class="mat-typography" style="height: 100%">
    <div style="margin-top: 0.1px; height: 100%; padding: 5px;"> 
        <div style="font-size: 12px">
            <div class="form-container" style="align-content: center;">
                    <mat-form-field appearance="outline" [floatLabel]="'auto'" [style.width.%]=48 style="padding: 3px;margin-bottom: -1.5em;">
                    <mat-label>Nom</mat-label>
                    <input #receiverInput name="receiver" type="text" placeholder='Nom du receiver' matInput  >
                    <button color="primary" matSuffix mat-icon-button matTooltip="Recherche du receiver"
                      (click)="diffuse()" name="receiverInput_search_btn">
                      <mat-icon>search</mat-icon>
                    </button>  
                    <button matSuffix mat-icon-button color="warn" matTooltip="Effacer informations du receiver"
                              (click)="diffuse()" name="receiverInput_clear_btn"><mat-icon >clear</mat-icon></button>   
                    </mat-form-field>
 
                    <mat-form-field appearance="outline" [floatLabel]="'auto'" [style.width.%]=51 style="margin-top: 0.25px;margin-bottom: -1.5em;">
                        <mat-label>Prénom</mat-label>
                        <input type="text" placeholder="Prénom du receiver"
                        matInput minlength="1" maxlength="255" [value]="">   
                    </mat-form-field>
        
                <mat-form-field appearance="outline" [style.width.%]=48 style="padding: 3px;margin-top: 0.25px;margin-bottom: -1.5em;">
                    <mat-label>Numéro'</mat-label>
                        <input type="text" placeholder="Numéro du receiver"
                        matInput minlength="1" maxlength="255" [value]="">   
                </mat-form-field>

                <mat-form-field appearance="outline" [style.width.%]=51 style="margin-top: 0.25px;margin-bottom: -1.5em;">
                    <mat-label>NISS</mat-label>
                    <input type="text" placeholder="Niss du receiver"
                    matInput minlength="1" maxlength="255" [value]="">   
                </mat-form-field>

                <mat-form-field appearance="outline" [style.width.%]=48 style="padding: 3px;margin-top: 0.25px;margin-bottom: -1.5em;">
                    <mat-label>Date d'activation</mat-label>
                    <input matInput [matDatepicker]="picker" placeholder="Date d'activation" >
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" [style.width.%]=100 style="margin-top: 0.25px;">
                        <mat-label>Description</mat-label>
                        <textarea rows="1" matInput placeholder="Description"></textarea>
                </mat-form-field>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="width: 100%">

                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                                  [checked]="selection.hasValue() && isAllSelected()"
                                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                                  [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()"
                                  (change)="$event ? selection.toggle(row) : null"
                                  [checked]="selection.isSelected(row)"
                                  [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
              
                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> ID. </th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef> Nom Fichier </th>
                  <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef> Type Doc. </th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="periode">
                  <th mat-header-cell *matHeaderCellDef> Période </th>
                  <td mat-cell *matCellDef="let element"> {{element.periode}} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="libelle">
                    <th mat-header-cell *matHeaderCellDef> Libellé </th>
                    <td mat-cell *matCellDef="let element"> {{element.libelle}} </td>
                </ng-container>
        
                <!-- Symbol Column -->
                <ng-container matColumnDef="statutEnvoi">
                    <th mat-header-cell *matHeaderCellDef> Statut envoi </th>
                    <td mat-cell *matCellDef="let element"> {{element.statutEnvoi}} </td>
                </ng-container>
        
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    (click)="selection.toggle(row)">
                </tr>
              </table>
              <mat-paginator [pageSizeOptions]="[2, 5, 10, 20]" showFirstLastButtons></mat-paginator>
              <br />
        </div> 
    </div> 
    
</mat-dialog-content>
<mat-dialog-actions align="start">
  <!-- <button mat-raised-button mat-dialog-close>Annuler</button>
  <button mat-raised-button [mat-dialog-close]="true" color="accent" cdkFocusInitial><mat-icon>share</mat-icon> &nbsp;Diffuser</button> -->
  <button mat-raised-button (click)="diffuse()" style="margin-right: 30px;"> <mat-icon>add</mat-icon> Ajouter </button>
  <button mat-raised-button (click)="diffuse()" style="margin-right: 30px;"><mat-icon>remove</mat-icon>Supprimer</button>
  <button mat-raised-button (click)="diffuse()"><mat-icon>share</mat-icon> &nbsp; Diffuser</button>  
</mat-dialog-actions>
